__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ruff_cache/
.mypy_cache/
.venv/
venv/
build/
dist/
*.egg-info/

options.json
*.sqlite3
*.sqlite3-shm
*.sqlite3-wal
*.log
.env

.idea/
.vscode/
.DS_Store
Thumbs.db
